/* Element Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

/* Theme colors */
.m_primary {
    background-color: #FFC017;
    color: rgb(41, 41, 41);
}

/* custom css */
/* use less css possible */
.member_footer {
    background: url("images/Membership_Footer.svg") no-repeat bottom;
}

/* Sign in */
.input-container{
    width: 255px;
}

.sign-in-last-text{
    color: rgb(117, 117, 117);
}

.sign-in-img{
    width:16px;
}
