body {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

p {
    margin-bottom: auto;
}

/* theme colors */
.m_primary {
    background-color: #FFC017;
    color: rgb(41, 41, 41);
}

/* custom styles */
.ff_serif {
    font-family: serif;
}
.hero_btn {
    border-radius: 20px;
}
.deco-none {
    text-decoration: none;
}
.deco-none * {
    text-decoration: none;
}

